# Ignore random backups
*~

# Ignores __pycache__
__pycache__/

# Ignores unmodified files
scheme_primitives.py
scheme_test.py
scheme_tokens.py
ucb.py
scheme_utils.py
*\#*
sometests.scm
